body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#logout
{
	width:150px;
	height:35px;
	padding:7px;
	margin-right:200px;
	display: none;
}

.skill-dedicated-row
{
	clear:both;
	padding: 15px;
}
.deactive
{
	display:none;
}

.skill-dedicated-row span
{
	float:left;
}

.userupvote-by img
{
	width:45px;
	height:45px;
}

.skill-row-hr
{
	color: #0000;
	border-width: 0.5px;
	width: 221px;
	float: left;
	margin-top: 17px;
}

.upvote-count, .userupvote-by
{
	border: 2px solid #00A4BB;
	border-radius: 18px;
	padding: 6px;
	font-size: 19px;
	padding-left: 11px;
	padding-top: 7px;
	width: 15px;
	color: #00A4BB;
	height: 16px;
	padding-bottom: 10px;
	display: block;
}

.form-elements {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:1px solid #00A4BB;
    font-size: 21px;
  	
}

.form-elements:focus
{
	outline:none;
	border-bottom: 2px solid #00A4BB;
}

.btn
{
	width:100%
	padding:12px 12px;
}

.login-form
{
	margin:0 auto;
	width:300px;
	margin-top: 50px;	
}

.btn
{
	width:100%;
	padding:15px;
	background: #00A4BB;
	border:none;
	color:white;
	cursor:pointer;
	font-size:20px;
}

.row-skill-name
{
	display:block;
	margin: 9px 0 0 20px;
	width:80px;
	color: #0000008c;
}

.user-who-upvoted
{
	float:left;
	width: 100px;
}

.userupvote-by
{
	float: left;
	padding: 3px;
	margin-left: 8px;
	border: none;
	background: #00000029;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.user-who-upvoted span
{
	color:white;
	margin-left:15px;
	background:#00A4BB;
	border:none;
	cursor:pointer;
}

.userupvote-by:hover
{
	background: #77a4b787;
}

.btn:hover
{
	background: #00a4bb99;
}

.header,.footer
{
	text-align:center;
	margin-top: 50px;
	clear: both;
}

.right-float
{
	float:right;
}

.skills-section
{
	width: 551px;
	margin: 0 auto;
}

.tooltip_templates 
{
	 display: none; 
}

/****** SMALLER SCREENS & MOBILE ********/

@media screen and (min-width: 180px) and (max-width: 770px) { 
	body
	{
		width:100%;
	}
}

